.displayMessage {
    color: green;
    background-color: rgb(219, 219, 219);
    border: 1px solid green;
    border-radius: 4px;
    font-size: large;
    padding-left: 10px;
    margin: 10px 10px;
}
